{% extends "base.html" %}
{% block title %} Data Insert {% endblock title %}
{% block body %} 
<center> <b> <h1> Insert Data</h1> </b> </center>
<div class="container center">
  <form method="post" class="row g-3 needs-validation" action="/add_data/" enctype="multipart/form-data" validate>
      {% csrf_token %}
      <div class="col-md-4">
          <label class="form-label">First Name</label>
          <input type="text" class="form-control" id="First_name" name="first_name" placeholder="Enter First Name" required>
          <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="col-md-4">
          <label class="form-label">Middle Name</label>
          <input type="text" class="form-control" id="Middle_Name" name="middle_name" placeholder="Enter Middle Name" required>
          <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="col-md-4">
          <label class="form-label">Last Name</label>
          <input type="text" class="form-control" id="Last_Name" name="last_name" placeholder="Enter Last Name" required>
          <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="col-md-4">
          <label class="form-label">Age</label>
          <input type="text" class="form-control" id="Age_ID" name="age" placeholder="Enter Age" required>
          <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="col-md-6">
          <label class="form-label">City</label>
          <input type="text" class="form-control" id="City_ID" name="city" placeholder="Enter City" required>
          <div class="invalid-feedback">Please provide a valid city.</div>
      </div>
      <div class="col-md-3">
          <label class="form-label">Gender</label>
          <select class="form-select" id="Gender_ID" name="gender" required>
              <option value="">Select Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
          </select>
          <div class="invalid-feedback">Please select a valid Gender.</div>
      </div>
      <div class="col-md-3">
          <label class="form-label">Zip</label>
          <input type="text" class="form-control" id="Zip_code_ID" name="zip_code" placeholder="Enter Zip Code" required>
          <div class="invalid-feedback">Please provide a valid zip.</div>
      </div>
      <div class="col-md-3">
          <label class="form-label">Photograph</label>
          <div class="input-group mb-3">
              <input type="file" class="form-control" id="Photograph_ID" name="photograph" required>
          </div>
          <div class="invalid-feedback">Please upload the image.</div>
      </div>
      <div class="col-12">
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="checked" id="invalidCheck" name="confirmation" required>
              <label class="form-check-label" for="invalidCheck">Recheck all the fields.</label>
              <div class="invalid-feedback">You must check the box before submitting.</div>
          </div>
      </div>
      <div class="col-12">
          <button class="btn btn-primary" type="submit">Add Data</button>
      </div>
  </form>
</div>

{% endblock %}
