{% extends "base.html" %}
{% block title %}Search{% endblock title %}
{% block body %}
    <center>
        <div class="container-fluid center">
        <div class="col-md-3">
            <b> <h1>
            <label for="validationCustom05" class="form-label">Search In Database</label>
            </h1> </b>
            <div class="input-group mb-3">
              <form method="post" class="row g-3 needs-validation" action="/Search_image/" enctype="multipart/form-data" validate>
                {% csrf_token %}
                <input type="file" class="form-control" id="input_image" name="input_image" >
                <button type="submit" class="btn btn-outline-secondary">Search</button>
              </form>
            </div>
        </div>
    </center>
    
    <div class="container center">
        <div class="container mt-4">
            <h2 class="text-center">Search Results</h2>
            <div class="row">
                {% for person in  people%}
                    <div class="col-md-4">
                        <div class="card mb-3">
                            <img src="CBIR_System/media{{ person.image }}" class="card-img-top" alt="{{ person.name }}" style="height: 200px; object-fit: cover;">
                            <div class="card-body">
                                <h5 class="card-title">{{ person.name }}</h5>
                                <p class="card-text">
                                    <strong>Age:</strong> {{ person.age }}<br>
                                    <strong>City:</strong> {{ person.city }}<br>
                                    <strong>Gender:</strong> {{ person.gender }}<br>
                                    <strong>Zip Code:</strong> {{ person.zip }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p class="text-center">No matches found with a score greater than 0.65.</p>
                {% endfor %}
            </div>
        </div>
    </div>    
{% endblock body %}
